build/
dist/
c/config.h.in~
c/bamParser
c/*.o
c/config.log
c/config.status
c/libBamM.a
./install.sh
lib/
MANIFEST
bamm/*.pyc
c/Makefile
bamm/tests/*pyc
c/libcfu-0.03/Makefile
c/libcfu-0.03/config.log
c/libcfu-0.03/config.status
c/libcfu-0.03/libtool
c/libcfu-0.03/src/Makefile
c/libcfu-0.03/src/*.o
c/libcfu-0.03/src/libcfu.a
c/libcfu-0.03/autom4te.cache/*
c/autom4te.cache/
c/htslib-1.2.1/test/*.o
c/htslib-1.2.1/cram/*.o
c/htslib-1.2.1/*o
c/htslib-1.2.1/cram/*.pico
c/htslib-1.2.1/*.pico
c/htslib-1.2.1/autom4te.cache/
c/htslib-1.2.1/bgzip
c/htslib-1.2.1/config.log
c/htslib-1.2.1/config.mk
c/htslib-1.2.1/config.status
c/htslib-1.2.1/configure.lineno
c/htslib-1.2.1/htsfile
c/htslib-1.2.1/libhts.a
c/htslib-1.2.1/libhts.so
c/htslib-1.2.1/libhts.so.1
c/htslib-1.2.1/tabix
c/htslib-1.2.1/test/fieldarith
c/htslib-1.2.1/test/hfile
c/htslib-1.2.1/test/sam
c/htslib-1.2.1/test/test-regidx
c/htslib-1.2.1/test/test-vcf-api
c/htslib-1.2.1/test/test-vcf-sweep
c/htslib-1.2.1/test/test_view
c/htslib-1.2.1/version.h
c/libcfu-0.03/src/.deps
